@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background: #4e73df; /* fallback for old browsers */
    background: #4e73df;
    background: linear-gradient(90deg, rgba(78, 115, 223, 1) 0%, rgba(78, 115, 223, 1) 100%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;     
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

/*PAGINA DE LOGIN*/
.login-page {
  width: 360px;
  padding: 4% 0 0;
  margin: auto ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto ;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 15px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4e73df;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #133396;
}

.img_index{
  width: 50%;
  border-radius: 50%;
  box-shadow: -5px 6px 5px rgb(60, 60, 60);
  margin-bottom: 20px;
}